<h2>Listagem de categorias</h2>

<p-table [value]="categorias">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-categoria>
    <tr>
      <td>{{ categoria.nome }}</td>
      <td>
        <button
          pButton
          type="button"
          icon="pi pi-pencil"
          (click)="mantem(categoria.id)"
        ></button>
        <button
          pButton
          type="button"
          class="ui-button-danger"
          icon="pi pi-times"
          (click)="excluir(categoria.id)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<br />
<button
  pButton
  type="button"
  icon="pi pi-plus"
  (click)="mantem()"
  label="Incluir Categoria"
></button>
<p-confirmDialog
  header="Confirmação"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
